body {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/*
body::before {
  display: block;
  content: "";
  height: 60px;
}
*/

.container-fluid {
  padding: 3% 15%;
}

.parallax-header {
  background-image: url("/img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.header-content {
  padding: 100px 0 150px 0;
}

.showbox-content {
  margin-top: -80px;
  background: rgb(223, 223, 222);
  box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 30px;
}

.showbox-content .left {
  padding: 20px;
}

.showbox-content .right {
  padding: 0;
}

.text-justify {
  text-align: justify;
}

.box-contact {
  background-color: rgb(141, 141, 170);
}

.box-allergenic {
  margin-top: 50px;
  margin-bottom: 50px;
}

#dish2 {
  background-color: rgb(200, 154, 233);
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
